body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('nature-programming-collage.jpg'); /* Укажите путь к вашему изображению */
    background-size: cover; /* Заполнение фона */
    background-position: center; /* Центрирование фона */
    color: #fff; /* Цвет текста */
}

.container {
    max-width: 600px;
    margin: 100px auto; /* Центрирование контейнера */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для читаемости текста */
    padding: 20px;
    border-radius: 8px;
    text-align: center; /* Центрирование текста */
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
}
